<ion-header>
  <ion-navbar>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let detalhes of detalhesLocal">
      <ion-item>
          <h2 class="nomeLocalDetalhe">{{ detalhes.nome }}</h2>
      </ion-item>
      <ion-card-content>
        <p class="txtEndTel">{{ detalhes.telefone}} / {{ detalhes.celular}}</p>
        <p class="txtEndTel">{{ detalhes.endereco}}</p>
      </ion-card-content>
    <button ion-button full (click)="ligar(detalhes.telefone)">Ligar agora!</button>
    <ion-card *ngFor="let item of cardapio">
      <ion-item (click)="abrirDetalhesItem(item.id_item)">
        <h2 class="nomeItemCardapio">{{ item.nome_item }}</h2>
        <p class="valorItemCardapio">{{ item.valor | FormatarReaisPipe}}</p>

      </ion-item>
  </ion-card>
  <div *ngIf="erro" class="erro" padding>
  <p>Nenhum item cadastrado para <b>{{ detalhes.nome }}</b>.</p>
  </div>
  </ion-card>
</ion-content>
